@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0em;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-underline {
  display: inline-block;
  position: relative;
}

.animate-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom top;
  transition: transform 0.25s ease-out;
}

.animate-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom top;
}
