@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0em;
  line-height: 1.1;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-underline {
  display: inline-block;
  position: relative;
}

.animate-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom top;
  transition: transform 0.25s ease-out;
}

.animate-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom top;
}
